@import '../../style/variables.scss';

.about {
    width: 720px;
    padding: 70px 0 60px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    &__item {
        text-align: center;
        &:last-child {
            padding-top: 30px;
        }
        &-subtitle {
            font-size: 24px;
            font-weight: 400;
            color: $black;
        }
        &-descr {
            margin-top: 26px;
            width: 346px;
            font-size: 14px;
            font-weight: 400;
            color: $black;
            text-align: center;
        }
    }
}