@import '../../style/variables.scss';

.beans__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    &-divider {
        background-color: $white;
        width: 60px;
        height: 1px;
    }
}

.black-divider {
    background-color: $black;
}

.mt-10 {
    margin-top: 30px;
}